In [14]:
x=5
print (x)
my_list = ['a','e','i','o','u']
print(my_list)
tupla0 = (1,2,3)
print (tupla0)
tupla0[0]
#tupla[0] = 'Nuevo'
tupla0 = list(tupla0)
tupla0[0] = 'Nuevo'
tupla0
tupla0[2] = "Hola"
tupla0

5
['a', 'e', 'i', 'o', 'u']
(1, 2, 3)

['Nuevo', 2, 'Hola']

In [16]:
if 1 < 2:
 print('Siiii!')

Siiii!

In [17]:
if 1 < 2:
 print('si')
else:
 print('no')

si

In [18]:
i = 1
while i < 5:
  print('i es: {}'.format(i))
  i = i+1

i es: 1
i es: 2
i es: 3
i es: 4

In [21]:
x = [1,2,3,4]
out = []
for item in x:
  out.append(item**2)
print(out)

[1, 4, 9, 16]

In [25]:
def my_func(param1='default'):
  """
  Documentacion va aqui
  """
  print(param1)
  print(param1)
  print(param1)